<div class="bg-black">
  <div class="container align-items-center">
    <div class="card d-flex align-items-center justify-content-center mb-4" id="top">
      <h1><strong>MovieWatch</strong></h1>
      <h4>Have fun:) Save any movie</h4>
      <div class="btn btn primary">
        <%= link_to 'Add new category', new_list_path(@list), class: "btn btn-primary justify-content-end mt-3 mb-3 bg-white text-dark" %>
      </div>
    </div>

    <div class="card" id="mc">
      <h1 class="text-center mb-4"><strong>Movie Categories</strong></h1>
      <ul class="d-flex justify-content-center"  id="ul">
        <% @lists.each do |list| %>
          <li class="card rounded" id="category"><%= link_to list.name, list_path(list), class: "text-dark" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
