<div class="d-flex justify-content-center align-items-center" id="color" style="min-height: 100vh;">
  <div class="container p-5">
    <div class="row justify-content-center p-5">
      <div class="col-md-6">
        <div class="card d-flex align-items-center">
          <h1 class="text-center">Add a new category</h1>
          <%= simple_form_for @list do |f| %>
            <%= f.input :name, placeholder: 'Thriller', label: false, class: 'form-control mb-3' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
